*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    /* background-color: #333; */
    color: black;
    padding: 8px 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* text-align: center; */
}

.amura{
    display: flex;
    align-items: center;
    font-size: clamp(22px, 2.5vw, 28px);
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header h1 span {
    color: black;
    font-size: clamp(14px, 1.6vw, 18px);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials a {
    margin: 0 10px;
    color: #666;
    font-size: 18px;
    transition: color 0.3s;
}

.socials a:hover {
    color: #333;
}



@media(max-width: 768px){
    .header{
        padding: 8px 0px 8px 12px;
    }

    /* .header h1{
        font-size: clamp(18px, 4vw, 22px);
    } */
}