*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: #f5f7fa;
    padding: 7px 15px;
    text-align: center;
    border-top: 1px solid #eee;
    margin-top: 0.8rem;
}

.footer h3 {
    font-size: clamp(13px, 1.5vw, 16px);
    color: #333;
}

.footer p {
    font-size: clamp(13px, 1.5vw, 15px);
    color: #666;
}

/* .footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .socials a {
    margin: 0 10px;
    color: #666;
    font-size: 18px;
    transition: color 0.3s;
}

.footer .socials a:hover {
    color: #333;
} */





@media(max-width: 768px){
    .footer {
        /* flex-direction: column; */
        padding: 10px 15px;
    }

    .footer h3, .footer p {
        font-size: clamp(12px, 1.3vw, 14px);
    }

    .footer .socials {
        margin-top: 10px;
    }
}


@media(max-width: 560px){
    .footer {
        margin-top: 0.3rem;
    }
}


@media(max-width: 480px){
    .footer {
        flex-direction: column;
        padding: 8px 15px;
        margin-top: 0;
    }

    .footer h3, .footer p {
        font-size: clamp(11px, 1.2vw, 13px);
    }

    .footer .socials {
        margin-top: 10px;
    }
}